#searchResults {
    width: 91vw;
    /* max-width: 343px; */
    max-height: 300px;
    overflow-y: auto;
}

#searchResults h4 {
    font-size: 1.5rem;
}

#searchResults li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#searchResults .noMoviesIcon {
    justify-content: center;
}

#searchResults .noMoviesIcon i {
    color: var(--lightGray);
    width: 6rem;
}

@media only screen and (min-width: 601px) {
    #searchResults {
        flex: 1 1 300px;
        margin: 0 .5em;
        max-height: 365px;
    }
}