#searchResults {
    width: 91vw;
    max-width: 343px;
    max-height: 300px;
    overflow-y: auto;
}

#searchResults h4 {
    font-size: 1.5rem;
}

#searchResults li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#searchResults .noMoviesIcon {
    justify-content: center;
}

#searchResults .noMoviesIcon i {
    color: var(--lightGray);
    width: 6rem;
}